@charset "UTF-8";

$body-bg:#EEF0F5;
$box-bg:#fff;
$font-color:#333;
$border-color:#E1E4ED;
$scroll-bg:#A0B4D0;

$header-font-active-color:#fff;
$header-font-nor-color:#fff;
$header-submenu-active-bg:#00A7FF;

$primary-blue:#137CFD;